<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <title>Tal Equipment and Food</title>
  <!--
Snapshot Template
http://www.templatemo.com/tm-493-snapshot

Zoom Slider
https://vegas.jaysalvat.com/

Caption Hover Effects
http://tympanus.net/codrops/2013/06/18/caption-hover-effects/
-->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/component.css">

  <link rel="stylesheet" href="css/owl.theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/vegas.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Google web font  -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


  <!-- Preloader section -->

  <div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
  </div>


  <!-- Navigation section  -->

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand smoothScroll"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><img id="logo" src="./images/logo.jpg" alt="תמונת לוגו של העסק"></li>
          <li><a href="#top" class="smoothScroll"><span>בית</span></a></li>
          <li><a href="#about" class="smoothScroll"><span>אודות</span></a></li>
          <li><a href="#gallery" class="smoothScroll"><span>גלריה</span></a></li>
          <li><a href="#contact" class="smoothScroll"><span>
                צור איתנו קשר</span></a></li>
        </ul>
      </div>

    </div>
  </div>
  <!----animal strip-->
<section id="animal-strip" class="py-1">
  <div class="container-fluid text-left">
    <div class="animal-strip-line">

      <!-- תמונות החיות -->
      <img src="./images/dog-nav.png" alt="כלב">
      <img src="./images/cat-nav.png" alt="חתול">
      <img src="./images/parrot-nav.png" alt="תוכי">
      <img src="./images/fish-nav.png" alt="דג">
      <img src="./images/rodents-nav.png" alt="מכרסם">

      <!-- טקסט אחרי החיות -->
      <span class="strip-text">
        <i class="fa fa-truck"></i>משלוחים חינם
        <i class="fa fa-phone"></i> <a href="tel:0547088798">054-708-8798</a>
      </span>

    </div>
  </div>
</section>

  <!-- Home section -->

  <section id="home">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
          <h1 class="wow fadeInUp" data-wow-delay="0.6s">ברוכים הבאים לחנות של טל ציוד ומזון לבעלי חיים </h1>
          <p class="wow fadeInUp" data-wow-delay="0.9s">
            ברוכים הבאים לחנות החיות שלנו!
            כאן תמצאו את כל מה שחיות המחמד שלכם צריכות — מזון איכותי, צעצועים, מיטות, אביזרים ומוצרי טיפוח לכלבים,
            חתולים, דגים ומכרסמים.
            אצלנו כל חיה מקבלת אהבה, איכות ושירות אישי מכל הלב — עם שירות משלוחים חינם לאזור המרכז. <a rel="nofollow"
              href="#"></a></p>

        </div>

      </div>
    </div>
  </section>


  <!-- About section -->

  <section id="about">
    <div class="container">
      <div class="row">

        <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-thumb">
            <h1>קצת עלינו</h1>
            <p>
              אנחנו בחנות <strong>טל – ציוד ומזון לבעלי חיים</strong> מאמינים שחיות המחמד הן חלק מהמשפחה.
              לכן אנחנו מקפידים להביא לכם רק מוצרים איכותיים מהמובילים בעולם – מזון בריא, צעצועים מעשירים, מיטות נוחות,
              אביזרי טיפוח, ציוד לאקווריומים ולמכרסמים ועוד.
              <br><br>
              צוות החנות שלנו מורכב מאנשים שאוהבים בעלי חיים באמת, ונשמח לייעץ, להתאים לכם מוצרים אישית ולוודא שחיית
              המחמד שלכם מקבלת את הטוב ביותר.
              <br><br>
              החנות ממוקמת באזור המרכז, ומעניקה שירות משלוחים מהיר – **וחינם** לכל האזור.
            </p>
          </div>

        </div>

        <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
          <img src="images/shop.jpg" class="img-responsive img-circle" alt="About">
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
          <div class="section-title text-center">
            <h1>קצת ממגוון המותגים שלנו</h1>
            <h3>אצלנו תמצאו רק מוצרים מהמותגים המובילים בעולם לחיות מחמד</h3>
          </div>
        </div>

        <!-- team carousel -->
        <div id="team-carousel" class="owl-carousel">

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/gosbifood.jpg" class="img-responsive img-circle" alt="Mary">
              </div>
              <h2 class="heading">Gosbi </h2>
              <p class="description">
              </p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/acana-dog-food.jpg" class="img-responsive img-circle" alt="Jack">
              </div>
              <h2 class="heading">ACANA</h2>
              <p class="description"></p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/monge-food.jpg" class="img-responsive img-circle" alt="Linda">
              </div>
              <h2 class="heading">MONGE</h2>
              <p class="description"></p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/mito-food.jpg" class="img-responsive img-circle" alt="Sandy">
              </div>
              <h2 class="heading">MITO</h2>
              <p class="description"></p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/now-food.jpg" class="img-responsive img-circle" alt="Lukia">
              </div>
              <h2 class="heading">NOW</h2>
              <p class="description"></p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/roya-canin.jpg" class="img-responsive img-circle" alt="George">
              </div>
              <h2 class="heading">ROYAL CANIN</h2>
              <p class="description"></p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/taste-of-the-wild.jpg" class="img-responsive img-circle" alt="Day">
              </div>
              <h2 class="heading">test of the wild</h2>
              <p class="description"></p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="images/notri-source.jpg" class="img-responsive img-circle" alt="Lynn">
              </div>
              <h2 class="heading">NUTRI SOURCE</h2>
              <p class="description"></p>
            </div>
          </div>

        </div>
        <!-- end team carousel -->

      </div>
    </div>
  </section>


  <!-- Gallery section -->

  <section id="gallery">
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
          <div class="section-title">
            <h1>Gallery</h1>
            <p> אנו מציעים מגוון רחב של ציוד, מזון ואביזרים איכותיים לכלבים ולחתולים – כולל חטיפים, צעצועים, מיטות,
              קולרים ומוצרי טיפוח מהמותגים המובילים בעולם.
              כל מה שחיית המחמד שלכם צריכה – במקום אחד.
            </p>
          </div>
        </div>

        <ul class="grid cs-style-4">
          <li class="col-md-6 col-sm-6">
            <figure class="figure-img">
              <div><img src="images/shampo.jpg" alt="image 1"></div>
              <figcaption>
                <h1>מוצרי טיפוח</h1>
                <small>בחנות שלנו תמצאו את כל מוצרי הטיפוח שכלבכם וחתולכם צריכים — שמפו, מרכך, מברשות, תרסיסים, מגבונים,
                  קולרים ועוד.
                  כל מה שצריך כדי שחיית המחמד שלכם תיראה, תרגיש ותישאר במיטבה 🐶🐱</small>

              </figcaption>
            </figure>
          </li>

          <li class="col-md-6 col-sm-6">
            <figure class="figure-img">
              <div><img src="images/snacks.jpg" alt="image 2"></div>
              <figcaption>
                <h1>חטיפים ומזון משלים </h1>
                <small>אנו מציעים חטיפים ומזונות משלימים עשירים בחלבון, ויטמינים ומינרלים – לתמיכה בבריאות, באנרגיה
                  ובפרווה מבריקה.
                  כל חטיף נבחר בקפידה ממותגים מובילים בעולם, כדי להבטיח תזונה מאוזנת ומענה מושלם לכל צורך
                  תזונתי</small>

              </figcaption>
            </figure>
          </li>

          <li class="col-md-6 col-sm-6">
            <figure class="figure-img">
              <div><img src="images/toys2.jpg" alt="image 3"></div>
              <figcaption>
                <h1>צעצועים ומשחקים</h1>
                <small>בחנות שלנו תמצאו מגוון ענק של צעצועים, משחקים ומגרדות לכלבים ולחתולים – כדי להעסיק, לשעשע ולשמור
                  על חיית המחמד שלכם פעילה ומאושרת.
                  צעצועי לעיסה, כדורים, חבלים, מגרדות איכותיות ועוד – כי גם להם מגיע לשחק ולהנות כל יום!</small>

              </figcaption>
            </figure>
          </li>

          <li class="col-md-6 col-sm-6">
            <figure class="figure-img">
              <div><img src="images/cages.jpg" alt="image 4"></div>
              <figcaption>
                <h1>כלובי אילוף ונסיעה </h1>
                <small>אצלנו תמצאו מגוון רחב של כלובי אילוף ונסיעה לכלבים ולחתולים – בטיחותיים, נוחים וקלים לנשיאה.
                  הכלובים שלנו מושלמים לנסיעות, לטיסות או לאילוף בבית, ונותנים לחיית המחמד שלכם תחושת ביטחון ונוחות בכל
                  מצב.</small>

              </figcaption>
            </figure>
          </li>
        </ul>

      </div>
    </div>
  </section>


  <!-- Contact section -->

  <section id="contact">
    <div class="container">
      <div class="row text-center wow fadeInUp" data-wow-delay="0.3s">

        <div class="col-md-12 section-title">
          <h1>צור קשר</h1>
          <p>נשמח לעמוד לרשותכם בכל שאלה, הזמנה או ייעוץ אישי לחיית המחמד שלכם 🐾</p>
        </div>

        <div class="col-md-4 col-sm-6">
          <h3><i class="fa fa-clock-o"></i> שעות פעילות</h3>
          <p>
            א׳–ה׳: 09:00–22:00<br>
            ו׳: 09:00–16:00<br>
            שבת: סגור
          </p>
        </div>

        <div class="col-md-4 col-sm-6">
          <h3><i class="fa fa-map-marker"></i> כתובת</h3>
          <p>
            רחוב רבי מאיר 12, ראשון לציון<br>
            (חניה צמודה ונגישה)
          </p>
        </div>

        <div class="col-md-4 col-sm-6">
          <h3><i class="fa fa-phone"></i> פרטים ליצירת קשר</h3>
          <p>
            📞 טלפון: <a href="tel:03-5551234">054-708-8798</a><br>
            📧<a href="mailto:info@talpets.co.il">Talj707@gmail.com אימייל:</a><br>
            💬 וואטסאפ: <a href="https://wa.me/972505551234" target="_blank">054-708-8798</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <!-- Footer section -->

  <footer>
    <div class="container">
      <div class="row align-items-center text-center">

        <div class="col-md-12 col-sm-12">

          <ul class="social-icon">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100087298514524" class="fa fa-facebook wow fadeInUp"
                data-wow-delay="0.2s"></a>
            </li>

            <li>
              <a href="https://www.instagram.com/tal_animal/" class="fa fa-instagram wow fadeInUp"
                data-wow-delay="0.4s"></a>
            </li>

            <!-- 🌍 אייקון מפה / מיקום -->
            <li>
              <a href="https://www.google.com/maps/place/טל+ציוד+ומזון+לבעלי+חיים%E2%80%AD/@31.9453923,34.8260242,17z/data=!4m6!3m5!1s0x1502b581d76c36a3:0x5a941991f12a5e33!8m2!3d31.9453878!4d34.8234493!16s%2Fg%2F11jzf4ft49?entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D"
                target="_blank" class="fa fa-map-marker wow fadeInUp" data-wow-delay="0.6s">
              </a>
            </li>
          </ul>

          <!-- טקסט מאז 2012 -->
          <p class="footer-text wow fadeInUp" data-wow-delay="0.9s">
            🐾 מאז 2012 | טל ציוד ומזון לבעלי חיים
          </p>

        </div>

      </div>
    </div>
  </footer>

  <!-- Back top -->
  <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

  <!-- Javascript  -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/vegas.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/toucheffects.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    All Section style              
-----------------------------------------*/

.section-title {
  padding-bottom: 62px;
}

#about .section-title {
  padding-top: 82px;
}

#about .section-title h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#about,
#gallery,
#contact {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

#gallery,
#contact, footer {
  text-align: center;
}

.overlay {
  background: #304352;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}



/*---------------------------------------
    Pre Loader Style              
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #e44c65;
  border-radius: 100%;
  margin: 40px auto;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  border: none;
  margin-bottom: 0px !important;
}

.navbar-default .navbar-brand {
  color: #304352;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

.navbar-default .navbar-nav li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-default .navbar-nav li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #304352;
}

.navbar-default .navbar-nav > li a:hover {
    color: #304352 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #304352;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  
  .navbar-default .navbar-nav li a span:before {
    background: transparent !important;
  }
  .navbar-default .navbar-nav li.active a {
    background: transparent;
    background: none;
    color: #304352 !important;
  }
  .navbar-default .navbar-nav li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}



/*---------------------------------------
    Home Section              
-----------------------------------------*/

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  height: 100vh;
  text-align: center;
}

#home h1 {
  color: #ffffff;
}

#home .col-md-8 {
  padding-left: 62px;
}



/*---------------------------------------
    About Section              
-----------------------------------------*/

#about {
  background: #f0f0f0;
}

#about .item {
  width: 100%;
  display: block;
}

#about .about-thumb {
  background: #ffffff;
  border-radius: 4px;
  padding: 100px;
  position: relative;
}

#about .about-img img {
  border: 8px solid #ffffff;
  position: absolute;
  left: -120px;
  bottom: -325px;
  padding: 12px;
}

#about .team-thumb {
  width: 100%;
  height: 400px;
  margin: 32px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#about .team-thumb .image-holder {
  position: relative;
  top: 40px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#about .team-thumb .heading {
  font-weight: bold;
  position: relative;
  top: 10px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#about .team-thumb:hover {
  background: #304352;
}

#about .team-thumb:hover .image-holder {
  top: -40px;
  margin-bottom: 0px;
}

#about .team-thumb:hover .heading {
  top: -10px;
}

#about .team-thumb .description {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#about .team-thumb:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#about .team-thumb:hover p.description {
  color: #ffffff;
}



/*---------------------------------------
    Galllery section              
-----------------------------------------*/

#gallery {
  background: #ffffff;
}

#gallery .gallery-thumb {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  cursor: pointer;
  display: block;
  margin-bottom: 25px;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#gallery .gallery-thumb:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#gallery .gallery-thumb img {
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
}

@media (max-width: 768px) {
  #gallery figure figcaption {
    opacity: 1 !important;
    transform: none !important;
    position: static !important;
    background: none !important;
    color: #333;
    text-align: center;
    padding: 10px 0;
  }
}


/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact, footer {
  background: #304352;
  color: #ffffff;
}

#contact .form-control {
  background: transparent;
  box-shadow: none;
  border: 1px solid #f9f9f9;
  color: #ccc;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 14px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-color: #e44c65;
  color: #ffffff;
}

#contact input {
  height: 55px;
}

#contact input[type="submit"] {
  background: #e44c65;
  border:none;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
}

#contact input[type="submit"]:hover {
  background: #222;
  color: #ffffff;
}



/*---------------------------------------
    Footer section             
-----------------------------------------*/

footer {
  padding-bottom: 80px;
}



/*---------------------------------------
    Social icons style              
-----------------------------------------*/

.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 10px 10px 42px 10px;
  padding: 0px;
}

.social-icon li a:hover {
  background: #ffffff;
  color: #e44c65;
}



/*---------------------------------------
   Back top         
-----------------------------------------*/

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #222;
  font-size: 26px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
  background: #e44c65;
  color: #ffffff;
}



/*logo--------------*/
#logo{
 
  border-radius: 10%;
  height: 60px;
}



#team-carousel .team-thumb {
  height: auto;
  padding: 20px 0;
  background: #fff;
  border: 1px solid #eee;
}

#team-carousel .image-holder {
  top: 0 !important;
  margin-bottom: 0;
  padding: 10px;
}

#team-carousel .image-holder img {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
  max-height: 120px;
  width: auto;
  margin: 0 auto;
  object-fit: contain;
}

.brand-logo {
  border-radius: 10px;
  background: #fff;
  padding: 15px;
  max-height: 120px;
  width: auto;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}


#team-carousel .team-thumb .image-holder img {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  transform: none !important;
  max-height: 150px;
  width: auto;
  margin: 0 auto;
  object-fit: contain;
}





/*---------------------------------------
   Responsive Mobile         
-----------------------------------------*/

@media (max-width: 980px) {
/* 
  #home, .overlay {
    height: 50vh;
  }
*/
  #about .team-thumb {
    margin-top: 32px;
  }

  #logo{
    width: 20%;
    height: 20%;
  }

}


@media (max-width: 767px) {

  #home, .overlay {
    height: 100vh;
  }

  #about .about-thumb {
    padding: 32px;
    margin-bottom: 32px;
    text-align: center;
  }

  #about .col-md-3 img {
    position: relative;
    top: 0;
    left: 0;
  }

  #logo{
    width: 20%;
    height: 20%;
  }

}



@media (max-width: 650px) {

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 18px;
  }

  img {
    width: 100%;
  }

  #about,
  #gallery,
  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #logo{
    width: 20%;
    height: 20%;
  }
}


/*
team carousel
*/
@media (max-width: 768px) {
  #about .team-thumb .description {
    opacity: 1 !important;
    transform: scale(1) !important;
    color: #555 !important;
  }
}


footer {
  background: #304352;
  color: #fff;
  text-align: center;
  padding: 40px 0 20px;
  position: relative;
}

footer .social-icon {
  margin-bottom: 15px;
}

footer .footer-text {
  font-size: 16px;
  color: #ccc;
  margin-top: 10px;
  letter-spacing: 1px;
}

footer .footer-text:hover {
  color: #fff;

}
